<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	 <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	 <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
	 <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	 <!-- <script src="route.js"></script> -->
	<script src="module.js"></script>
</head>
<body ng-controller ='ctrl'>
<div ui-view="header"></div>
<ui-view></ui-view>
<h1>WELCOME TO graphZone </h1>

<a ui-sref="hello" ui-sref-active="active">call</a>
select database -  


    <div class="input-group-btn">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        {{selectedValue}}
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="db in dataBase track by $index"><a href="#" ng-click="connectDatabase(db)">{{db}}</a></li>
    </ul>
</div>


    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">MY SQL</h4>
                </div>
                <div class="modal-body">
                    <!-- <p>Please provide credentials to connect</p> -->
         
			         <div class="form-group">
					  <label for="name" class="col-lg-6">username:</label>
					    <div class="col-lg-6">
					      <input type="text" class="form-control" name="name" id="name">
					    </div>
					</div>
					<div class="form-group">
					  <label for="name" class="col-lg-6">password:</label>
					    <div class="col-lg-6">
					      <input type="password" class="form-control" name="name" id="name">
					    </div>
					</div>
					<div class="form-group">
					  <label for="name" class="col-lg-6">server:</label>
					    <div class="col-lg-6">
					      <input type="text" class="form-control" name="name" id="name">
					    </div>
					</div>
					<div class="form-group">
					  <label for="name" class="col-lg-6">database:</label>
					    <div class="col-lg-6">
					      <input type="text" class="form-control" name="name" id="name">
					    </div>
					</div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">connect</button>
                </div>
            </div>
        </div>
    </div>
 

</body>

<style type="text/css">
	.modal-footer{
		border-top:none!important;
	}
</style>

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</html>