<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title</title>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
	 <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	 <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
	 <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	 <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
	 <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->

	 <!-- // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script> -->

	 <script src="module.js"></script>
	 <script src="route.js"></script>

</head>
<body ng-controller ='ctrl'>
  <ui-view name="header"></ui-view>
  <!-- <ui-view name="content"></ui-view> -->
  <ui-view></ui-view>

  <ui-view name="footer"></ui-view>
</body>

<style type="text/css">
	.modal-footer{
		border-top:none!important;
	}
</style>

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</html>

<script>

$(document).on("click", "#menu-toggle", function(e) {
  // alert('aaaaaaaaa')
 e.preventDefault();
$("#wrapper").toggleClass("active");
});
    
</script>