<div id="wrapper1">
    
    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">

<form id =  "uploadForm" enctype = "multipart/form-data" action = "/fileUpload" method = "POST" accept="application/vnd.ms-excel">
<input type="file" name="userFile" />
<input type="submit" value="Upload CSV" name="submit">
</form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                    Line Chart

                            </div>
                            <div class="panel-body">
                                    
                                        <linechart data="data" options="options"></linechart>


                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    google line chart
                            </div>
                            <div class="panel-body">
                               <div id="chart_div"></div>
                            </div>
                        </div>
                    </div>

                 <div class="col-md-6">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    google pie chart
                            </div>
                            <div class="panel-body">
                               
        <div id="piechart" style="width: 500px; height: 200px;"></div>
                            </div>
                        </div>
                    </div>
                                     <div class="col-md-6">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    google bar chart
                            </div>
                            <div class="panel-body">
                               
                            <div id="barChart_div"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn" ng-click="openModal()">open</button>

