<div id="wrapper1">
    
<script src="https://github.com/danialfarid/ng-file-upload/blob/master/demo/src/main/webapp/js/ng-file-upload.min.js"></script>
    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">

<!-- file upload -->
<!-- <input type = "file" file-model = "myFile" accept=".csv" /> -->
<form>
<input 
               type="file" 
               ngf-select 
               ng-model="up.file" 
               name="file" 
               />
<!-- <button ng-click = "uploadFile()">Upload File</button> -->
 <button type="submit" ng-click="up.submit()">submit</button>
</form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                    Line Chart

                            </div>
                            <div class="panel-body">
                                    
                                        <linechart data="data" options="options"></linechart>


                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    google line chart
                            </div>
                            <div class="panel-body">
                               <div id="chart_div"></div>
                            </div>
                        </div>
                    </div>

                 <div class="col-md-6">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    google pie chart
                            </div>
                            <div class="panel-body">
                               
        <div id="piechart" style="width: 500px; height: 200px;"></div>
                            </div>
                        </div>
                    </div>
                                     <div class="col-md-6">                    
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                    google bar chart
                            </div>
                            <div class="panel-body">
                               
                            <div id="barChart_div"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn" ng-click="openModal()">open</button>

