<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
    
    <input type="text" class='form-control' ng-model="test" placeholder="Filter">

        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand" ng-repeat="values in sidebarValues | filter:test">
              <label ng-repeat="(key,value) in values">
                <input type="checkbox" id="" value="{{value}}" ng-model="IsChecked" ng-change="checkedItems(IsChecked,value)">
                <span>{{value}}</span>
              
              </label>
                </li>
            </ul>
        </nav>
    </div>
</div>
 




    